.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}
.header {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: cornsilk;
}

.form-container {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 80%;
  height: 100vh;
  border-radius: 10px;
}

.form {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 2rem 4rem;
  gap: 20px;
}

.inputs-container {
  display: flex;
  flex: 1;
  width: 100%;
}

.actions {
  display: flex;
  width: 100%;
  justify-content: end;
  gap: 10px;
}

.actions button {
  border: none;
  background-color: dodgerblue;
  padding: 10px;
  color: white;
  align-items: center;
  display: flex;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  outline: 0;
  cursor: pointer;
}

.actions button:hover {
  background-color: blue;
}

.actions button svg {
  font-size: 20px;
  font-weight: bold;
  margin-top: 2px;
}

.send {
  margin-right: 5px;
}

.actions button span {
  font-weight: bold;
}

@media screen and (max-width: 320px) {
  .form-container {
    width: 95%;
  }
  .title {
    font-size: 16px;
    width: 100%;
    text-align: center;
  }
  .actions button {
    padding: 5px;
    font-size: 12px;
  }
  .header {
    margin-top: 40px;
    padding: 10px;
  }
  .form {
    padding: 1rem;
  }
}

@media screen and (max-width: 375px) {
  .form-container {
    width: 95%;
  }
  .title {
    font-size: 18px;
    width: 100%;
    text-align: center;
  }
  .actions {
    justify-content: center;
  }
  .actions button {
    padding: 5px;
    font-size: 12px;
  }
  .header {
    margin-top: 20px;
    padding: 10px;
  }
  .form {
    padding: 1rem;
  }
}

@media screen and (max-width: 425px) {
  .form-container {
    width: 95%;
  }
  .title {
    font-size: 18px;
    width: 100%;
    text-align: center;
  }
  .actions {
    justify-content: center;
  }
  .actions button {
    padding: 5px;
    font-size: 12px;
  }
  .form {
    padding: 1rem;
  }
}
